@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(183, 7, 7);
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 1.5rem;
}

.U{
    color: red;
}

header img {
    width: 40px;
    height: 40px;
}

.car{
    font-size: 2.5em;
    color: black;
}

main {
    padding: 20px;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 350px;
    flex-shrink: 0;
}

.slider-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: #333;
}

.produtos-container {
    display: flex;
    align-items: center;
    position: relative;
}

.produtos {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.produto {
    min-width: calc(50% - 20px);
    margin: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.produto img {
    width: 50px;
    border-radius: 8px;
}

.detalhes {
    margin-top: 10px;
}

.detalhes h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.detalhes p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.controles {
    display: flex;
    align-items: center;
}

.preco {
    font-size: 1.1rem;
    margin-right: 10px;
}

.quantidade {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
}

.quantidade button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantidade span {
    margin: 0 8px;
}

.nav-left,
.nav-right {
    background-color: #333;
    color: white;
    border: none;
    padding: 6px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-left {
    left: 0;
}

.nav-right {
    right: 0;
}